.header.bui-bar, .header .bui-bar, header.bui-bar, header .bui-bar {
    background: #02A8A6;
}

body main{
    background:#efeff4;
}

.boldFont{
    font-weight: bolder;
}

.bui-bar-main{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.bui-loading{
    position:fixed;
}