.header.bui-bar, .header .bui-bar, header.bui-bar, header .bui-bar {
    background: #02A8A6;
}

body main{
    background:#eee;
}

.boldFont{
    font-weight: bolder;
}

.bui-bar-main{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.bui-loading{
    position:fixed;
}

[class*=bui-box]>[class^=span], [class*=bui-box]>li .span1{
    white-space: nowrap;
}

.span1{
    overflow: hidden;
    text-overflow: ellipsis;
}